<Project>
  <PropertyGroup>
    <GameManagedPath>C:/Path/To/Cities Skylines II/Cities2_Data/Managed</GameManagedPath>
    <ExtendedRadioPath>C:/Path/To/ExtendedRadio</ExtendedRadioPath>
  </PropertyGroup>
</Project>
